/* header style  */
.logoSection img {
  padding: 10px;
}
.navLinkSection {
  gap: 2rem;
}
.registerBtns {
  width: 150px;
  height: 45px;
  border-radius: 30px;
  background-color: transparent;
  font-weight: 500;
}
.signIn {
  border: none;
  color: #f53855;
}
.signUp {
  border: 2px solid #f53855;
  color: #f53855;
}
.signUp:hover{
  color: #FFFFFF;
  background-color: #f53855;
}

.menuBtn i {
  font-size: 35px;
}

.dropDown {
  background-color: rgba(220, 220, 220, 0.4);
  backdrop-filter: blur(10px) saturate(70%);
}
.menuBtn i {
  cursor: pointer;
}


/* ads */
.adsBtn{
  font-weight: 500;
  width: 250px;
  height: 60px;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #f53855;
  border: none;
  transition: 0.7s ease;
}
.adsBtn:hover{
  color: #f53855;
  background-color: transparent;
  border: 2px solid #f53855;
}