@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #000000;
}

/* flex classes */
.flexContainer{
    display: flex;
}
.flexWrap{
    flex-wrap: wrap;
}
.felxReverse{
    flex-wrap: wrap-reverse;
}
.alignItemCenter{
    align-items: center;
}
.alignItemStart{
    align-items: start;
}
.j-spaceBetween{
    justify-content: space-between;
}
.j-spaceAround{
    justify-content: space-around;
}
.j-spaceEvenly{
    justify-content: space-evenly;
}


a,button{
    cursor: pointer;
    text-decoration: none;
}

/* color classes */

.redColor{
    color: #F53855;
}
.lightBlack{
    color: #4F5665;
}

/* font weight  */
b{
    font-weight: 700;
}
.fW-400{
    font-weight: 400;
}
.fW-500{
    font-weight: 500;
}
.fW-600{
    font-weight: 600;
}
.fW-700{
    font-weight: 700;
}
.fW-800{
    font-weight: 800;
}

/* font size */
f-12{
    font-size: 12px;
}
f-14{
    font-size: 14px;
}
f-16{
    font-size: 16px;
}
f-18{
    font-size: 18px;
}
f-20{
    font-size: 20px;
}
f-25{
    font-size: 25px;
}
f-30{
    font-size: 30px;
}
f-35{
    font-size: 35px;
}
f-40{
    font-size: 40px;
}

/* width */
.maxWidth{
    width: 100%;
}
.width90{
    width: 90%;
}

/* margin */
.marginAuto{
    margin: auto;
}

/* display  */
.noDisplay{
    display: none;
}
.blockDisplay{
    display: block;
}