@media (max-width: 950px) {
  .navBar ul.navLinkSection,
  .navBar div.registrationBtns {
    display: none;
  }
  .dropDown {
    padding: 20px;
    text-align: center;
    transition: 0.6s ease;
  }
  .dropDown li {
    padding: 10px 0;
  }
  .adsImage{
    width: 100%;
  }
  .adsImage img{
    width: 100%;
  }
  .adsContainer{
    padding-top: 50px;
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 951px) {
  .menuBtn {
    display: none;
  }
  .dropDown {
    display: none;
  }
  .adsImage,
  .adsContainer {
    width: 50%;
  }
  .adsImage img {
    width: 100%;
  }
  div.dropDown{
    display: none !important;
  }
}
