@media (max-width: 950px) {
  .navBar ul.navLinkSection,
  .navBar div.registrationBtns {
    display: none;
  }
  .dropDown {
    padding: 20px;
    text-align: center;
    transition: 0.6s ease;
  }
  .dropDown li {
    padding: 10px 0;
  }
  .adsImage{
    width: 100%;
  }
  .adsImage img{
    width: 100%;
  }
  .adsContainer{
    padding-top: 50px;
    width: 100%;
    text-align: center;
  }
  .featuresImage{
    width: 100%;
  }
  .featuresImage img{
    width: 100%;
  }
  .featuresContainer{
    padding-top: 50px;
    width: 100%;
    text-align: center;
  }
  .listContain{
    width: max-content;
    margin: auto;
  }
  .slide {
    flex: 0 0 calc(50% - 40px); /* Two slides per row on smaller screens */
    margin: 10px;
    padding: 10px;
  }
}
@media (min-width: 951px) {
  .menuBtn {
    display: none;
  }
  .dropDown {
    display: none;
  }
  .adsImage,
  .adsContainer {
    width: 50%;
  }
  .adsImage img {
    width: 100%;
  }
  div.dropDown{
    display: none !important;
  }
  .featuresImage{
    width: 40%;
  }
  .featuresContainer{
    width: 50%;
  }
  .featuresImage img {
    width: 100%;
  }
  
  .slide {
    flex: 0 0 calc(32% - 25px); /* three slide per row on even smaller screens */
    margin: 8px;
    padding: 10px;
  }
}
